<section class="work-slide-content work-image-text row"
         [appBgStyle]="detailData.background"
         [ngClass]="{'left-layout': detailData.position === 'left'}">
    <!--<div [className]="{getTextLayout()}">-->

    <div [ngClass]="getTextLayout()">
        <app-work-text
                [generalData]="generalData"
                [detailData]="detailData">
        </app-work-text>
    </div>
    <div [ngClass]="getImagesLayout()">
         <!--[ngClass]="{'col-md-6' : isEvenLayout()}">-->
        <app-work-image
                [generalData]="generalData"
                [detailData]="getImageStyles()">

        </app-work-image>
    </div>
</section>