<section class="work-slide-content work-text row"
         [ngStyle]="{'background': detailData.background}">

    <div class="work-content" [ngStyle]="getContainerStyles()">

        <h2 [ngStyle]="getTitleStyles()">
        {{detailData.title}}
        </h2>

        <p [ngStyle]="getParagraphStyles()"
           [ngClass]="{'dark-text': detailData.background === '#ffffff' || detailData.background === '#fff' || detailData.background === 'white' || detailData.background === ''}">
            {{detailData.description}}
        </p>
    </div>
</section>