<section
        class="work-slide-content work-overview"
        [ngStyle]="{'background-color': generalData.mainColor}">
    <div class="row work-overview-container">
        <div class="project-main-info col-12 col-md-8">
            <h2>The Project</h2>
            <p *ngFor="let paragraph of detailData.description">
                {{paragraph}}
            </p>

            <h2>My Role</h2>
            <ul class="list-unstyled">
                <li *ngFor="let role of detailData.role">
                    {{role}}
                </li>
            </ul>

        </div>

        <div class="project-secondary-info col-12 col-md-4">


            <h4>Platforms</h4>
            <p *ngFor="let platform of detailData.platforms">
                {{platform}}
            </p>

            <h4 *ngIf="detailData.client">Client</h4>
            <p>
                {{detailData.client}}
            </p>

            <h4 *ngIf="detailData.credits.length">Credits</h4>
            <p *ngFor="let credit of detailData.credits">
                {{credit}}
            </p>

            <!--<ul class="list-unstyled">-->
                <!--<li *ngFor="let credit of detailData.credits">-->
                    <!--{{credit}}-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</section>

