.about{
  padding: 0 40px;
  padding-top: 150px;
  //background-image: url("../assets/images/about_bg.png");
  //background: url("../assets/images/about_bg.png") no-repeat top center fixed;
  //background-size: cover;
  //background-size: 1000px;
  //background-repeat: no-repeat;
  //height: 100%;
  background-blend-mode: multiply;
  background-image: url("../assets/images/about_lights_bg.png");
  background-size: cover;
  min-height: 100vh;

  h1{
    font-weight: 200;
    color: #a92746;
    font-size: 2.7rem; //Query
    opacity: .8;
  }
  p{
    //color: $pink;
    color: #ffffff;
    opacity: .6;
  }
}