.about{
  padding: 0 40px;
  padding-top: 150px;
  //background-image: url("../assets/images/about_bg.png");
  background: url("../assets/images/about_bg.png") no-repeat top center fixed;
  //background-size: cover;
  background-size: 1000px;
  //background-repeat: no-repeat;
  height: 100%;
  background-blend-mode: multiply;

  h1{
    font-weight: 100;
    color: #a92746;
    font-size: 2.7rem; //Query
  }
  p{
    color: $pink;
  }
}