//.body-home{
//  background-image: linear-gradient(#ff9d2f, #ff6126);
//}
.home-screen {
  padding: 0 40px;
  //padding-top: 130px;
  padding-top: 160px;
  background-image: url('../assets/vectors/home_texture.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: 0 0;

  .main-logo {
    margin-bottom: 15px;
  }

  .brain-img {
    img {
      max-width: 80vw;
      max-height: 50vh;
      //object-fit: cover;
    }
  }
  .intro_text {
    //width: 30%;
    opacity: 0.7;

    p {
      color: #ffffff;
      font-size: 1.2em;
      text-align: center;
    }
  }

  h1 {
    margin-top: 150px;
    color: $light-yellow;
    font-weight: 100;
  }
}
