//@import '../work-detail.component';

.work-image {
  justify-content: start;

  .work-content {
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    &.align-left {
      justify-content: flex-start;
    }

    &.align-right {
      justify-content: flex-end;
    }

    img {
      max-width: 100%;
      margin-bottom: 40px;
      margin-top: 40px;
      max-height: 90vh;

      //-webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .3);
      //-moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, .3);
      //box-shadow: 0 0 24px 0 rgba(0, 0, 0, .3);

      //opacity: .7;
    }
  }
}