////styles folder (Bootstrap)
.bg-navbar {
  background-size: 200% 200%;
  background-position: top left;
  //background-color: #e41d29;

  -webkit-box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 4px 13px -5px rgba(0,0,0,0.43);
  box-shadow: 0px 11px 13px -5px rgba(0,0,0,0.43);
}

a{
  &.active{
    text-shadow: 0 0 10px #fff;
  }
}