
svg,
svg circle {
  //fill: royalblue;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

#Circle1 {
  animation: from0to360 11s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#Circle2 {
  animation: from360to0 12s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 155px 150px;
}

#Circle3 {
  animation: from0to360 13s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 145px;
}

#Circle4 {
  animation: from360to0 12.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 155px;
}




//MINE OK
//.menu-item{
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 100%;
//
  //svg,
  //svg circle {
  //  fill: royalblue;
  //}
  //
  //@keyframes from0to360 {
  //  from{transform:rotate(0);}
  //  to{transform:rotate(360deg);}
  //}
  //
  //circle{
  //  box-shadow: 5px 10px #888888;
  //  stroke-width: 59;
  //  stroke-linecap: round;
  //}
  //
  //@keyframes from360to0 {
  //  from{transform:rotate(360deg);}
  //  to{transform:rotate(0deg);}
  //}
  //
  //#Circle1 {
  //  animation: from0to360 11s linear infinite;
  //  cx: 30;
  //  cy: 25;
  //  r: 100;
  //  transform-origin: 25px 30px;
  //}
  //
  //.Circle2 {
  //  animation: from360to0 12s linear infinite;
  //  cx: 30;
  //  cy: 35;
  //  r: 100;
  //  transform-origin: 35px 30px;
  //}
  //
  //
  //.Circle3 {
  //  animation: from0to360 13s linear infinite;
  //  cx: 25;
  //  cy: 30;
  //  r: 100;
  //  transform-origin: 30px 25px;
  //}
  //
  //.Circle4 {
  //  animation: from360to0 12.5s linear infinite;
  //  cx: 35;
  //  cy: 30;
  //  r: 100;
  //  transform-origin: 30px 35px;
  //}
//}

