a{
  //text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
}

.work-menu{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  //align-items: center;
  margin: 0 -15px;

  ul{
  }
}



//COdepen
svg,
svg circle {
  //fill: royalblue;
}

@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}

.container{

  border: solid 4px #ff0000;
  border-color: #ff0000;
  box-shadow: 5px 10px #888888;
}

circle{
  box-shadow: 5px 10px #888888;
  stroke-width: 59;
  stroke-linecap: round;
}

#Circle1 {
  animation: from0to360 11s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  transform-origin: 145px 150px;
}

@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}

#Circle2 {
  animation: from360to0 12s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  transform-origin: 155px 150px;
}

#Circle3 {
  animation: from0to360 13s linear infinite;
  cx: 145;
  cy: 150;
  r: 100;
  transform-origin: 150px 145px;
}

#Circle4 {
  animation: from360to0 12.5s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  transform-origin: 150px 155px;
}