<section class="work-menu">
    <ul class="list-unstyled">
        <li *ngFor="let work of workListData">
            <!--<a [routerLink]="['detail', work.id]" routerLinkActive="active">{{ work.general.title }}</a>-->
            <div #menuItem class="item-container">
                <!--<a class="item-button fixed-background" [routerLink]="['detail', work.id]" routerLinkActive="active">-->
                <!--<a class="item-button solid-background" [routerLink]="['detail', work.id]" routerLinkActive="active">-->
                <!--<a class="item-button back-chrome" [routerLink]="['detail', work.id]" routerLinkActive="active">-->
                <!--<a class="item-button back-simple back-image-test" [routerLink]="['detail', work.id]" routerLinkActive="active">-->

                    <a class="item-button back-simple back-image-test"
                   [routerLink]="['detail', work.id]"
                   routerLinkActive="active"
                   [appBgStyle]="work.general.mainImg">

                    <div class="work-logo">
                        <img src="{{work.general.logo}}" alt="">
                    </div>
                    <div class="item-info">
                        <h3>{{work.general.title}}</h3>
                        <p>{{work.general.subtitle}}</p>
                    </div>
                </a>
                <!--<div class="fixed-background"></div>-->
                <!--<div class="background_fill"></div>-->
                <!--<div class="back-chrome"></div>-->

            </div>

        </li>
    </ul>
    <!--<app-work-menu-item></app-work-menu-item>-->
</section>

