.work-image {
  .work-content {
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    &.align-left {
      justify-content: flex-start;
      img {
        padding-left: 40px;
      }
    }

    &.align-right {
      justify-content: flex-end;
      img {
        padding-right: 40px;
      }
    }

    &.full-screen-img {
      height: 100vh;
    }

    &.cover-img {
      height: 100vh;
    }

    img {
      max-width: 100%;
      margin-bottom: 120px;

      &.size-xs {
        padding: 0;
      }

      &.size-md {
        width: 100vw;
        padding-left: 0px;
        padding-right: 0px;
      }

      &.size-lg {
      }

      &.size-xl {
      }
    }
  }

  &.cover-img {
    padding: 0;
    .work-content {
      display: block;
      padding-top: 0;
      @extend .cover-img;

      img {
        margin-bottom: 0;
      }
    }
  }
}

// Responsive
@include media-breakpoint-up(xs) {
  // Default styles
}

@include media-breakpoint-up(sm) {
  .work-image {
    .work-content {
      padding-top: 250px;
    }
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
