.work-slide-content {
  height: 100%;
  &.work-text {
    pointer-events: none;
    .work-content {
      opacity: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //width: 50%; //add to mediaquery
      text-align: center;
      min-height: 400vh;

      h2,
      .h2 {
        width: 100%;
        border-bottom: solid white thin;
        padding-bottom: 8px;
        //text-align: left !important;
      }

      p {
        //text-align: left !important;
      }
    }
  }
}

// Responsive
@include media-breakpoint-up(xs) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
  .work-slide-content {
    .work-text {
      .work-content {
        h2,
        .h2 {
          font-size: 1.8em;
        }

        p {
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .work-slide-content {
    .work-text {
      .work-content {
        h2,
        .h2 {
          font-size: 2.2em;
        }

        p {
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .work-content {
    h2,
    .h2 {
    }

    p {
    }
  }
}
