$main-red: #e41d29;
$main-purple: #3d3091;
.sections {
  position: relative;
  z-index: 100;
}

.app-wrapper {
  //background-color: aqua;
  min-height: 100vh;

  //--mainRed: #e41d29;

  //> .bg-animation {
  //  background-size: 200% 200%;
  //  -webkit-animation: workBackground 38s ease infinite;
  //  -moz-animation: workBackground 38s ease infinite;
  //  animation: workBackground 38s ease infinite;
  //
  //  @-webkit-keyframes workBackground {
  //    0% {
  //      background-position: 13% 0%
  //    }
  //    50% {
  //      background-position: 50% 60%
  //    }
  //    100% {
  //      background-position: 13% 0%
  //    }
  //  }
  //  @-moz-keyframes workBackground {
  //    0% {
  //      background-position: 13% 0%
  //    }
  //    50% {
  //      background-position: 50% 60%
  //    }
  //    100% {
  //      background-position: 13% 0%
  //    }
  //  }
  //  @keyframes workBackground {
  //    0% {
  //      background-position: 13% 0%
  //    }
  //    50% {
  //      background-position: 50% 60%
  //    }
  //    100% {
  //      background-position: 13% 0%
  //    }
  //  }
  //}
}

@-webkit-keyframes workBackground {
  0% {
    background-position: 13% 0%
  }
  50% {
    background-position: 50% 60%
  }
  100% {
    background-position: 13% 0%
  }
}
@-moz-keyframes workBackground {
  0% {
    background-position: 13% 0%
  }
  50% {
    background-position: 50% 60%
  }
  100% {
    background-position: 13% 0%
  }
}
@keyframes workBackground {
  0% {
    background-position: 13% 0%
  }
  50% {
    background-position: 50% 60%
  }
  100% {
    background-position: 13% 0%
  }
}

.bg-work {
  background: linear-gradient(167deg, #e41d29, #3d3091);
  //transform: translateZ(0);

  //background-size: 200% 200%;
  //-webkit-animation: workBackground 38s ease infinite;
  //-moz-animation: workBackground 38s ease infinite;
  //animation: workBackground 38s ease infinite;

}

.bg-home {
  background-color: #1f2126;
  //background: linear-gradient(167deg, #2b2c33, #1f2126);
}

.bg-about {
  background: linear-gradient(167deg, #e41d29, #3d3091);
}