$main-red: #e41d29;
$main-purple: #3d3091;
.sections {
  position: relative;
  z-index: 100;
}

.app-wrapper {
  height: 100vh;
  overflow-y: scroll;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    -webkit-box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    transform: translateZ(0);
  }
}



//**DELETE

//svg,
//svg circle {
//  fill: royalblue;
//}
//
//@keyframes from0to360 {
//  from{transform:rotate(0);}
//  to{transform:rotate(360deg);}
//}
//
//#Circle1 {
//  animation: from0to360 1s linear infinite;
//  cx: 150;
//  cy: 145;
//  r: 100;
//  transform-origin: 145px 150px;
//}
//
//@keyframes from360to0 {
//  from{transform:rotate(360deg);}
//  to{transform:rotate(0deg);}
//}
//
//#Circle2 {
//  animation: from360to0 2s linear infinite;
//  cx: 150;
//  cy: 155;
//  r: 100;
//  transform-origin: 155px 150px;
//}
//
//#Circle3 {
//  animation: from0to360 3s linear infinite;
//  cx: 145;
//  cy: 150;
//  r: 100;
//  transform-origin: 150px 145px;
//}
//
//#Circle4 {
//  animation: from360to0 2.5s linear infinite;
//  cx: 155;
//  cy: 150;
//  r: 100;
//  transform-origin: 150px 155px;
//}


//**END DELETE

// NOTE: This animation is very expensive
//@-webkit-keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}
//@-moz-keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}
//@keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}