$main-red: #e41d29;
$main-purple: #3d3091;
.sections {
  position: relative;
  z-index: 100;
}

.app-wrapper {
  height: 100vh;
  overflow-y: scroll;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    -webkit-box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 200px -20px rgba(0, 0, 0, 0.3);
    z-index: 1000;

    transform: translateZ(0);
  }
}

// NOTE: This animation is very expensive
//@-webkit-keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}
//@-moz-keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}
//@keyframes workBackground {
//  0% {
//    background-position: 13% 0%
//  }
//  50% {
//    background-position: 50% 60%
//  }
//  100% {
//    background-position: 13% 0%
//  }
//}