<div class="row">
    <section class="col-6 col-s-12">
        <h1>{{data.title}}</h1>
        <p *ngFor="let paragraph of data.bio">
            {{paragraph}}
        </p>
    </section>

    <section class="col-6 col-s-12">
        <div class="contact-header">
            <h1>{{data.contact.title}}</h1>
            <p *ngFor="let paragraph of data.contact.introText">
                {{paragraph}}
            </p>
        </div>
        <app-contact-form></app-contact-form>
        <app-social-media-links></app-social-media-links>
    </section>
</div>