<section class="work-home">
    <!--<section class="work-slide-content work-home">-->
    <div class="work-content">
        <div class="work-logo">
            <img src="{{generalData.logo}}">
        </div>
        <h1>{{generalData.title}}</h1>
        <h5>{{generalData.description}}</h5>
    </div>

    <app-responsive-img
            class="cover-img"
            [folder]="getImagesFolder()"
            [image]="generalData.mainImg">
    </app-responsive-img>
    <!--<img class="cover-img" src="{{generalData.mainImg}}" alt="">-->
</section>
