//@import '../work-detail.component';
.work-home {
  margin: 0 -15px;
  padding: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .work-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%; //add to mediaquery

    h1, h5,
    .h1, .h5{
      text-align: center;
    }

    .work-logo{
      margin-bottom: 15px;

      img{
        //width: 75px;
        height: 100px;
      }
    }
  }
}